<div class="home-content">
  <h1>Express Basic Template</h1>
  <p class="lead">
      Use this template to quickly start any new project with Express, Handlebars, Boostrap and JQuery.<br />       
  </p>

  <h3>Included nodejs packages:</h3>
  
  <ul>
    <li>express</li>
    <li>express-logger</li>
    <li>express3-handlebars</li>
    <li>body-parser</li>
    <li>cookie-parser</li>
    <li>morgan</li>
  </ul>
</div>

<h3>Quick start</h3>

<ol>
  <li>Clone the git repo - <code>git clone https://github.com/lmaddalena/BasicExpress.git &lt;directory&gt;</code></li>
  <li>Install required packages - <code>npm install</code></li>
  <li>Initialize your applicaton <code>npm init</code></li>
  <li>Start the application - <code>npm start</code></li>
</ol>

{{#section 'script'}}


{{/section}}    

